## .NET
bin/
obj/
*.user
*.suo

## Visual Studio / Rider / VS Code
.vs/
.vscode/
.idea/
*.DotSettings.user

## Testes
TestResults/
*.trx

## Banco de dados local (SQLite)
*.db
*.db-shm
*.db-wal

## Logs
*.log

## OS
.DS_Store
Thumbs.db
